@import url("import.css");

* {
    box-sizing: border-box;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #eaebed;
    text-decoration: none;
}

html {
	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
}

img {
    width: 100%;
}

.logo {
    width: auto;
    height: 60px;
    /*display: none;*/
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url(../img/background/Background.jpg);
    /*background-color: red;*/
    background-attachment: fixed;
}

.nav {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #2f3947;
    height: 95vh;
    width: 20vw;
    padding: 30px;
    margin-top: 2vh;
    border-radius: 25px;

/*          sticky           */
    position: sticky;
    top: 2vh;
    align-self: flex-start;
}

nav.nav > div.menu > a {
    margin: 20px;
    font-size: 20px;
}

i {
    margin-right: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
}

.message, .tag, .footer, .nav, .pagination {
	color: whitesmoke;
	margin: 1%;
}

.date_mess {
	padding: 1%;
}

.div_messages, .centre {
    order: 2;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.home {
	text-decoration: none;
	color: whitesmoke;
    transition: all 0.25s ease-in-out;
}

.home:hover {
	color: #2f3947;
	background-color: whitesmoke;
    transition: all 0.25s ease-in-out;
}


p.paginationindex {
	text-decoration: none;
	color: whitesmoke;
	font-size: 150%
}

.paginationindex a {
	text-decoration: none;
	color: #11d9f2;
	font-size: 150%
}

.paginationindex a:hover {
	color: whitesmoke;
}

.message, .param, .pagination {
    display: flex;
    flex-direction: column;
    background-color: #2f3947;
    align-items: center;
    margin: 3%;
    border-radius: 25px;
}

.message_img_box {
    display: flex;
    justify-content: center;

    padding: 50px;
    border-radius: 25px;
}

.message_img {
    width: 200px;
}

.pagination {
    display: flex;
    flex-direction: column;
    background-color: #2f3947;
    align-items: center;
    margin: 3%;
    border-radius: 25px;
}

.recherche {
    display: flex;
    justify-content: center;
    margin: 10px;
}

form input[type=search] {
    border-radius: 10px;
}

form input[type=submit] {
    /*display: none;*/
}

.tag_and_footer {
    order: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 95vh;
    width: 20vw;
    padding: 30px;
    margin-top: 2vh;

    /*          sticky           */
    position: sticky;
    top: 2vh;
    align-self: flex-start;
}

.tag {
    background-color: #2f3947;
    margin: -30px -30px 1vh -30px;
    height: 80vh;
    border-radius: 25px;
    padding: 5%;
}

.tag a {
	text-decoration: none;
	color: whitesmoke;
}

.tag a:hover {
	color: #11d9f2;
}

.ecrire_msg {
	text-decoration: none;
	color: #11d9f2; 
    transition: all 0.25s ease-in-out;
}

.ecrire_msg:hover {
    background-color: #11d9f2;
	color: #2f3947;
    transition: all 0.25s ease-in-out;

}

.footer {
    background-color: #2f3947;
    margin: 1vh -30px -30px -30px;
    height: 20vh;
    border-radius: 25px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer.footer > span {
    font-size: 10px;
    padding-left: 8px;
    padding-top: 15px;
}

h1.titre {
    max-width: 1300px;
    margin: 20px auto;
    padding: 25px;
    font-size: 22px;
    border-bottom: 1px solid #bfbfbf;
    color: #4a536e;
    text-align: center;
    width: 80%;
}

div.tendance {
    display: flex;
    flex-direction: column;
}

ol.list_tendance {
    list-style-type: none;
    width: 100%;
    margin: 0vh;
    padding: 0;
}

ol.list_tendance > li {
    border: 1px #3274d6;
    border-top-style: solid;
    border-bottom-style: solid;
}

ol.list_tendance > li > a{
    font-size: 30px;
}

input {
    color: #2f3947;
}

div.list_reaction {
    display: flex;
    flex-direction: row;
}

.reaction {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50px;
    background-color: #2f3947;
    border-style: none;
}

.reaction > p {
    margin-left: 5px;
}

.info {
    display: flex;
    flex-direction: column;
}

.inf2 {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.old, .new {
    display: flex;
    flex-direction: row;
}

.admin {
    display: flex;
    flex-direction: column;
    background-color: #2f3947;
    align-items: center;
    margin: 3%;
    border-radius: 25px;}

.icone_on img{
    height: 30px;
    margin-left: 20px;
}

.icone_off img{
    opacity: 0.5;
    height: 30px;
    margin-left: 20px;
}

.icone_off img:hover{
    opacity: 1;
}

.bouton_modif {
	padding: 1%;
}

.param form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5%;
	padding: 2%;
}

input#adresse, a.mdpoublie, input {
	margin-top: 5%;
	padding-top: 2%;
}

.mdpoublie:hover {
	background-color: #11d9f2;
	color: #2f3947;
    transition: all 1s ease-in-out;
}

input#setting, input#settings_text {
	margin-bottom: 3%;
}

input#setting_text, input#settings_text {
margin-left: 1%;

}



@media screen and (max-device-width: 600px) {

	body {
    		display: flex;
    		flex-direction: column;
    		justify-content: space-around;
    		background-image: url(../img/background/Background.jpg);
    		background-attachment: fixed;
	}

	.logo {
		width: 100%;
		height: 100%;
	}


	.nav {
		margin: 0;
    		order: 1;
    		display: flex;
    		flex-direction: column;
    		justify-content: flex-start;
    		background-color: #2f3947;
		height: 100%;
		width: 100%;
    		padding: 30px;
    		margin-top: 2vh;
    		border-radius: 25px;

		/*          sticky           */
    		position: sticky;
    		top: 2vh;
    		align-self: flex-start;
		font-size: 300%;
		align-items: center;
		position: static;
	}

	.menu {
    		display: flex;
    		flex-direction: row;
	}

	nav.nav > div.menu > a {
    		font-size: 200%;
		margin: 1%;
	}


	.home {
		text-decoration: none;
		color: whitesmoke;
    		transition: all 0.25s ease-in-out;
	}

	.div_messages, .centre {
    		order: 2;
    		display: flex;
    		flex-direction: column;
    		width: 100%;
	}

	h1.titre {
    		margin: 20px auto;
    		padding: 25px;
    		font-size: 500%;
    		border-bottom: 1px solid #bfbfbf;
    		color: #4a536e;
    		text-align: center;
    		width: 100%;
	}

	.message h2 {
		font-size: 300%;
	}

	div.message_text > p{
		font-size: 250%;
	}

	.list_reaction {
		scale: 2;
	}

	.date_mess {
		margin-top: 5%;
	}

	.pagination {
		font-size: 300%;
	}

	.tag_and_footer {
    		order: 3;
    		display: flex;
    		flex-direction: column;
    		justify-content: flex-start;
   		padding: 30px;
    		margin-top: 2vh;

    		/*          sticky           */
    		position: static;
    		top: 2vh;
    		align-self: flex-start;
		width: 105%;
		height: 100%;
		}

	.tag {
    		background-color: #2f3947;
    		margin: -30px -30px 1vh -30px;
    		border-radius: 25px;
    		padding: 5%;
		width: 100%;
		align-items: center;
		display: flex;
		flex-direction: column;
	}

	.recherche {
		scale: 2;
	}

	.visible {
		display: none;
	}

	ol.list_tendance > li > a{
		width: 50%;
		font-size: 300%;
	}

	div.tendance > h3{
		font-size: 300%;
	}
	
	footer.footer > span {
		font-size: 200%;
	}

	.param form {
		scale: 2;
	}

	.param p {
		scale: 2;
	}

	.div_messages > param {
		background-color: white;
	}


}
