@import url("import.css");

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #eaebed;
    text-decoration: none;
}

img {
    width: 100%;
}

.logo {
    width: auto;
    height: 60px;
    /*display: none;*/
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url(../img/background/Background.jpg);
    /*background-color: red;*/
    background-attachment: fixed;
}

.nav {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #2f3947;
    height: 95vh;
    width: 20vw;
    padding: 30px;
    margin-top: 2vh;
    border-radius: 25px;

/*          sticky           */
    position: sticky;
    top: 2vh;
    align-self: flex-start;
}

nav.nav > div.menu > a {
    margin: 20px;
    font-size: 20px;
}

i {
    margin-right: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    margin: 10%;
    width: 300px;
}

.div_messages, .centre {
    order: 2;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.message, .param, .pagination {
    display: flex;
    flex-direction: column;
    background-color: #2f3947;
    align-items: center;
    margin: 3%;
    border-radius: 25px;
}

.message_img_box {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    padding: 50px;
    border-radius: 25px;
}

.message_img {
    width: 200px;
}

.pagination {
    display: flex;
    flex-direction: column;
    background-color: #2f3947;
    align-items: center;
    margin: 3%;
    border-radius: 25px;
}

.recherche {
    display: flex;
    justify-content: center;
    margin: 30px;
}

form input[type=search] {
    border-radius: 10px;
}

form input[type=submit] {
    /*display: none;*/
}

.tag_and_footer {
    order: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 95vh;
    width: 20vw;
    padding: 30px;
    margin-top: 2vh;

    /*          sticky           */
    position: sticky;
    top: 2vh;
    align-self: flex-start;
}
.tag {
    background-color: #2f3947;
    margin: -30px -30px 1vh -30px;
    height: 80vh;
    border-radius: 25px;
}

.footer {
    background-color: #2f3947;
    margin: 1vh -30px -30px -30px;
    height: 20vh;
    border-radius: 25px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer.footer > span {
    font-size: 10px;
    padding-left: 8px;
    padding-top: 15px;
}

h1.titre {
    max-width: 1300px;
    margin: 20px auto;
    padding: 25px;
    font-size: 22px;
    border-bottom: 1px solid #bfbfbf;
    color: #4a536e;
    text-align: center;
    width: 80%;
}

div.tendance {
    display: flex;
    flex-direction: column;
}

ol.list_tendance {
    list-style-type: none;
    width: 100%;
    margin: 0vh;
    padding: 0;
}

ol.list_tendance > li {
    border: 1px #3274d6;
    border-top-style: solid;
    border-bottom-style: solid;
}

ol.list_tendance > li > a{
    font-size: 30px;
}

input {
    color: #2f3947;
}

.img_reaction {
    height: 20px;
    width: 20px;
}

div.list_reaction {
    display: flex;
    flex-direction: row;
}

.reaction {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50px;
    background-color: #2f3947;
    border-style: none;
}

.reaction > p {
    margin-left: 5px;
}

.info {
    display: flex;
    flex-direction: column;
}

.inf2 {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.old, .new {
    display: flex;
    flex-direction: row;
}

.admin {
    display: flex;
    flex-direction: column;
    background-color: #2f3947;
    align-items: center;
    margin: 3%;
    border-radius: 25px;}