@import url("import.css");

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
}

body {
    display: flex;
    background-image: url(../img/background/Background.jpg) ;
    background-attachment: fixed;
}
.item {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}
.item a {
    text-align: center;
    font-size: 24px;
    width: 100%;
}
.item form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.item form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
}
.item form input[type="password"], .item form input[type="email"], .item form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
.item form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
.item form input[type="submit"]:hover, .noselect:hover{
    background-color: #2868c7;
    transition: background-color 0.2s;
    color: #ffffff;
}

.swap {
    display: flex;
    flex-direction: row;
}

.swapitem {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3274d6;
    color: #ffffff;
    margin: 0px;
    padding: 10px;
}

.select {
    background-color: #ffffff;
    color: #2868c7;
}

@media screen and (max-device-width: 600px) {

    .body {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .item {
        margin-top: 400px;
        scale: 2;
    }






}