html {
    scroll-behavior: smooth;
}

#scrollUp {
    border-radius:3px;
    padding:10px;
    font-size:15px;
    text-align:center;
    color:#fff;
    background:rgba(44, 98, 197, 0.5);
    position:fixed;
    left:250px;
    opacity:1;
    z-index:99999;
    transition:all ease-in 0.2s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    text-decoration: none;
}

#scrollUp.invisible {
    bottom:30px;
    opacity:0;
    /*transition:all ease-in 1s;*/
}

#scrollUp.visible{
    bottom:50px;
    opacity: 1;
}

#scrollUp:before {
    content: "\25b2";
}

#scrollUp:hover {
    background:rgba(52, 113, 226, 1);
    transition:all ease-in 0.2s;
}