* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #eaebed;
}

body {
    background-image: url(../Images/Background.jpg) ;
    background-attachment: fixed;
}

.navtop {
    background-color: #2f3947;
    height: 60px;
    width: 100%;
    border: 0;
}

.navtop div {
    display: flex;
    margin: auto;
    width: 1100px;
    height: 100%;
}

.logo {
    height: 50px;
}

.navtop div h1, .navtop div a, .logo {
    display: inline-flex;
    align-items: center;
}

.navtop div h1 {
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: #eaebed;
    font-weight: normal;
}

.navtop div a {
    padding: 0 20px;
    text-decoration: none;
    color: #c1c4c8;
    font-weight: bold;
}

.navtop div a i {
    padding: 2px 8px 0 0;
}

.navtop div a:hover {
    color: #eaebed;
}

.login {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 1px 1px 12px #838383;
    margin: 100px auto;
}

.login h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
}

.login form input[type="password"], .login form input[type="text"] {
    color: black;
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.login form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

.login form input[type="submit"]:hover {
    background-color: #2868c7;
    transition: background-color 0.2s;
}

body.loggedin {
    background-color: #f3f4f7;
}

.compte > p table td, .compte > table td {
    padding: 5px;
}

.compte > p table td:first-child, .compte > table td:first-child {
    font-weight: bold;
    background-color: #2f3947;
    padding-right: 15px;
}

.compte > p {
    padding: 5px;
    margin: 0 0 10px 0;
}

.page {
    max-width: 1700px;
    margin: auto;
}

.page section {
    padding: 25px;
    margin-bottom: 25px;
    background-color: #2f3947;
    box-shadow: 1px 1px 12px #707070;
}

.titre {
    max-width: 1300px;
    margin: 20px auto 50px;
    padding: 25px;
    font-size: 22px;
    border-bottom: 1px solid #bfbfbf;
    color: #4a536e;
    text-align: center;
}

.mp {
    float: left;
    width: 270px;
    margin-left: 50px;
}

.tag_and_footer {
    float: right;
    width: 320px;
}

.recherche {

}

.recherche input {
    color: black;
}

.tendance {

}

.footer {

}

.main {
    margin: auto;
    max-width: 1000px;
}

#scrollUp{
    border-radius:3px;
    padding:10px;
    font-size:15px;
    text-align:center;
    color:#fff;
    background:rgba(44, 98, 197, 0.5);
    position:fixed;
    right:20px;
    opacity:1;
    z-index:99999;
    transition:all ease-in 0.2s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    text-decoration: none;
}

#scrollUp.invisible {
    bottom:-35px;
    opacity:0;
    transition:all ease-in 1s;
}

#scrollUp.visible{
    bottom:20px;
    opacity: 1;
}

#scrollUp:before {
    content: "\25b2";
}

#scrollUp:hover {
    background:rgba(52, 113, 226, 1);
    transition:all ease-in 0.2s;
}

.mdpoublie {
	color: #5b6574;
	
}

.recevoir_mail {
	color: #5b6574;
	padding: 10%;
	text-align: center;
}

.texte {
	text-align: center;
	padding: 2%;
	color: black;
}